<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_app_icon"
        android:label="LightIME"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="false"
        android:theme="@style/Theme.LightIME">

        <service
            android:name=".ime.LightImeService"
            android:exported="true"
            android:label="LightIME T9"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:label="LightIME Settings"
            android:theme="@style/Theme.LightIME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
